@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  src: local("Sen Regular"), url("../fonts/Sen-Regular.woff") format("woff");
}

@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 600;
  src: local("Sen Bold"), url("../fonts/Sen-Bold.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Sofia Pro Regular"),
    url("../fonts/Sofia Pro Regular Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Sofia Pro Bold"),
    url("../fonts/Sofia Pro Bold Az.woff") format("woff");
}
html {
  overflow-x: hidden;
}
body {
  background: #182c44;
  font-family: "Sofia Pro", sans-serif;
  font-family: "Sen";
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* width */
.team__item::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.team__item::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.team__item::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
.team__item::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
